.display-hide {
    display: none !important;
}

th,
td {
    padding: 4px !important;
    vertical-align: middle !important;
    text-align: center;
}

.highcharts-container {
    width: 100% !important;
    text-align: center !important;
}

.portlet {
    margin-top: 60px;
}

.portlet-title {
    text-align: center;
    margin-bottom: 20px;
}

.caption-subject {
    font-size: 25px;
}

@media print {
    [class*="col-"] {
        page-break-inside: avoid;
    }
}
